# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace
.classpath
.project
.settings/
.factorypath
bin/

# Compiled
*.class

# OS
.DS_Store
Thumbs.db
nul

# Logs
*.log
logs/

# Runtime
run/
